.freeboarddetail {
    margin: 5% auto;
    width: 1600px;
    height: 840px;

    .AD1 {
        float: left;
        display: flex;
        width: 10%;
        height: 100%;
        background-color: #D9D9D9;
        font-size: 24px;
        font-weight: bold;
        justify-content : center;
        align-items : center;
    }
    .AD2 {
        float: right;
        display: flex;
        width: 10%;
        height: 100%;
        background-color: #D9D9D9;
        font-size: 24px;
        font-weight: bold;
        justify-content : center;
        align-items : center;
    }

    .details {
        margin: 0 auto;
        width: 1080px;
        height: 840px;

        .info {
            margin: 0 auto;
            padding: 10px;
            width: 100%;
            font-size: 24px;
            background-color: #D9D9D9;
        }
        .userinfo {
            text-align: right;
        }
        .content {
            margin: 5%;
            font-size: 24px;
        }
        .comments {
            margin: 0 5%;
            
            .comment {
                margin-top: 3%;
            }
        }
    }
}